/**
 * lowmess theme for `prism.js`
 * @author Alec Lomas (@lowmess)
 */

@media only screen {
  code[class*="language-"], pre[class*="language-"] {
    background-color: #39342d;
    color: #f9f9f8;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }


  /* Code blocks */

  pre[class*="language-"] {
    overflow: auto;
  }

  .token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #938776;
  }

  .token.punctuation {
    color: #a89e90;
  }

  .token.operator {
    COLOR: #f2f99d;
  }

  .namespace {
    opacity: 0.8;
  }

  .token.property, .token.keyword, .token.tag {
    color: #f2930d;
  }

  .token.class-name {
    color: #f2f99d;
    text-decoration: underline;
  }

  .token.boolean, .token.constant {
    color: #adfada;
  }

  .token.symbol, .token.deleted {
    color: #db0bc9;
  }

  .token.number {
    color: #bb68f6;
  }

  .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #f67468;
  }

  .token.variable {
    color: #85b4f8;
  }

  .token.entity {
    color: #f2f99d;
    /* text-decoration: underline; */
  }

  .token.url {
    color: #f20ddf;
  }

  .language-css .token.string, .style .token.string {
    color: #0df293;
  }

  .token.atrule, .token.attr-value {
    color: #adfada;
  }

  .token.function {
    color: #85b4f8;
  }

  .token.regex {
    color: #f67468;
  }

  .token.important {
    color: #f2200d;
  }

  .token.important, .token.bold {
    font-weight: 700;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
